obspy/fdsn/tests/data/dataselect_no_types.wadl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<application xmlns="http://wadl.dev.java.net/2009/02">
    <doc title="FDSN dataselect web service 1.0"/>
    <grammars/>
    <resources base="http://ws.resif.fr/fdsnws/dataselect/1/">
        <resource path="/">
            <method name="GET" id="root">
                <response>
                    <representation mediaType="text/html"/>
                </response>
            </method>
            <resource path="query">
                <method name="GET" id="query">
		    <request>
		      <param name="starttime" style="query"/>
		      <param name="endtime" style="query"/>
		      <param name="network" style="query"/>
		      <param name="station" style="query"/>
		      <param name="location" style="query"/>
		      <param name="channel" style="query"/>
		      <param name="quality" style="query"/>
		      <param name="minimumlength" style="query"/>
		      <param name="longestonly" style="query"/>
		    </request>
                    <response>
                      <representation mediaType="text/plain"/>
                      <representation mediaType="application/vnd.fdsn.mseed"/>
                    </response>
                </method>
                <method name="POST" id="postQuery">
                    <request>
                      <representation mediaType="*/*"/>
                    </request>
                    <response>
                      <representation mediaType="text/plain"/>
                      <representation mediaType="application/vnd.fdsn.mseed"/>
                    </response>
                </method>
            </resource>
            <resource path="queryauth">
                <method name="GET" id="queryAuth">
		    <request>
		      <param name="starttime" style="query"/>
		      <param name="endtime" style="query"/>
		      <param name="network" style="query"/>
		      <param name="station" style="query"/>
		      <param name="location" style="query"/>
		      <param name="channel" style="query"/>
		      <param name="quality" style="query"/>
		      <param name="minimumlength" style="query"/>
		      <param name="longestonly" style="query"/>
		    </request>
                    <response>
                      <representation mediaType="text/plain"/>
                      <representation mediaType="application/vnd.fdsn.mseed"/>
                    </response>
                </method>
                <method name="POST" id="postQueryAuth">
                    <request>
                        <representation mediaType="*/*"/>
                    </request>
                    <response>
                      <representation mediaType="text/plain"/>
                      <representation mediaType="application/vnd.fdsn.mseed"/>
                    </response>
                </method>
            </resource>
            <resource path="version">
                <method name="GET" id="version">
                    <response>
                      <representation mediaType="text/plain"/>
                    </response>
                </method>
            </resource>
        </resource>
    </resources>
</application>
