obspy/clients/fdsn/tests/data/2014-01-07_ethz_dataselect.wadl

<application xmlns="http://wadl.dev.java.net/2009/02"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<resources base="http://localhost:8080/fdsnws/1/dataselect">
		<resource path="query">
			<method href="#queryGET"/>
			<method href="#queryPOST"/>
		</resource>
		<resource path="queryauth">
			<method href="#queryGET"/>
			<method href="#queryPOST"/>
		</resource>
		<resource path="version">
			<method name="GET">
				<response>
					<representation mediaType="text/plain"/>
				</response>
			</method>
		</resource>
		<resource path="application.wadl">
			<method name="GET">
				<response>
					<representation mediaType="application/xml"/>
				</response>
			</method>
		</resource>
	</resources>
	<method name="GET" id="queryGET">
		<request>
			<param name="starttime" style="query" type="xsd:dateTime"/>
			<param name="endtime" style="query" type="xsd:dateTime"/>
			<param name="network" style="query" type="xsd:string"/>
			<param name="station" style="query" type="xsd:string"/>
			<param name="location" style="query" type="xsd:string"/>
			<param name="channel" style="query" type="xsd:string"/>
			<param name="quality" style="query" default="B">
				<option value="B"/>
				<option value="M"/>
			</param>
			<param name="nodata" style="query" type="xsd:int" default="204">
				<option value="204"/>
				<option value="404"/>
			</param>
		</request>
		<response status="200">
			<representation mediaType="application/vnd.fdsn.mseed"/>
		</response>
		<response status="204 400 404 413 414 500 503">
			<representation mediaType="text/plain"/>
		</response>
	</method>
	<method name="POST" id="queryPOST">
		<response status="200">
			<representation mediaType="application/vnd.fdsn.mseed"/>
		</response>
		<response status="204 400 404 413 414 500 503">
			<representation mediaType="text/plain"/>
		</response>
	</method>
</application>
